body {
    font-family: 'Graphik LCG';
}

/* container */
.true-container {
    max-width: calc(1360px + 40px * 2);
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 991px) {
    .true-container {
        padding: 0 30px;
    }
}

@media (max-width: 575px) {
    .true-container {
        padding: 0 20px;
    }
}

/* main slider */
.main-slider {
    width: 100%;
}

/* slide content  */
.main-slider__content {}

.main-slider__content .slide-content {
    position: relative;
}
.slide-content__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-content__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* thumbs */
.main-slider__thumbs {
    height: 65px;
}
@media (min-width: 992px) {
    .main-slider__thumbs {
        height: 78px;
        padding: 0 280px;
    } 
}

.main-slider__thumbs .slide-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
}

.slide-logo.swiper-slide-thumb-active {
    border-bottom: 5px solid #52525B;
}
