body {
    font-family: 'Graphik LCG';
}

/* container */
.true-container {
    max-width: calc(1360px + 40px * 2);
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 991px) {
    .true-container {
        padding: 0 30px;
    }
}

@media (max-width: 575px) {
    .true-container {
        padding: 0 20px;
    }
}
.header, .footer {
    height: 100px;
    background: peachpuff linear-gradient(90deg,
    rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .4) 50%
  ) center center / 2em;
}
/* main slider */
.main-slider {
    width: 100%;
}

/* slider content */
@media (max-width: 991px) {
    .main-slider__content {
        margin: 0 -30px;
    }
}
@media (max-width: 575px) {
    .main-slider__content {
        margin: 0 -20px;
    }
}

/* swiper off mobile */
@media (max-width: 575px) {
    .main-slider__content .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }
}

/* slide content  */
.slide-content {
    position: relative;
}
.slide-content__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-content__overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.slide-content__wrapper {
    position: absolute;
    /* top: 0; */
    left: 40px;
    right: 40px;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@media (max-width: 991px) {
    .slide-content__wrapper {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
}
.slide-content__logo {
    display: block;
    margin-bottom: 32px;
}
.slide-content__description {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}
.slide-content__label {
    display: inline-flex;
    background-color: #FFFFFF;
    color: #525665;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 9.5px 12px;
    margin-bottom: 40px;
}
.slide-content__link-bz {
    display: inline-flex;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF; 
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 26px;
    background: url(../img/arrow_next_button.svg) no-repeat center right 26px;
    padding-right: 55px;
}
@media (max-width: 991px) {
    .slide-content__link-bz {
        margin-bottom: 42px;
    }
}
.slide-content__text {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 14px;
}
.slide-content__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    background: url(../img/arrow_next_link.svg) no-repeat center right;    
    padding-right: 24px;
}

/* thumbs */
.main-slider__thumbs {
    height: 78px;
    padding: 0 22%;
    background-color: #FFFFFF;
}
.slide-logo {
    cursor: pointer;
}
@media (max-width: 575px) {
    .main-slider__thumbs {
        height: 65px;
        padding: 0;
        margin-left: -20px;
        margin-right: -20px;
        position: sticky;
        top: 0;
        z-index: 99999;
    }
    .slide-logo__img {
        transform: scale(0.75);
    }
}

.main-slider__thumbs .slide-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
}
.slide-logo.swiper-slide-thumb-active {
    border-bottom: 5px solid #52525B;
}

.slide-logo.swiper-slide-thumb-active {
    border-bottom: 5px solid #52525B;
}

.slide-logo.swiper-slide-thumb-active #gulliver-logo path {
    fill: #909092;
}
.slide-logo.swiper-slide-thumb-active #bb-logo path {
    fill: #586E8B;
}
.slide-logo.swiper-slide-thumb-active #gt-color path {
    fill: #286961;
}
.slide-logo.swiper-slide-thumb-active #glvr-color path {
    fill: #000000;
}
.slide-logo.swiper-slide-thumb-active #jumkey-color path {
    fill: #CEDC00;
}